form {
}

.form-group {
}

label {
  text-transform: uppercase;
  font-size: 1rem;
}

input {
  background: var(--surface-2);
  color: var(--text-1);
  border: var(--border);
  border-radius: 16px;
  padding: 1ex 2ex;
}
